%h1 Sign-Up

= form_tag users_path do

  = label :user, :title, 'User-ID'
  = text_field :user, 'title'

  = label :user, :rating, 'Rating'
  = select :user, :rating, ['G','PG','PG-13','R','NC-17']

  = label :user, :release_date, 'Released On'
  = date_select :user, :release_date

  = submit_tag 'Create my account'
